<h2>{{ 'pointOfDeliveryView.title' | message }}</h2>

<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.periods.length">
            Point of Delivery View
        </caption>
        <thead>
            <tr>
                <th>Facility</th>
                <th>Reference Number</th>
                <th>Packing Date</th>
                <th>Packed By</th>
				<th>Number of Cartons</th>
				<th>Number of Containers</th>
                <th>Received By</th>
                <th class="col-sticky sticky-right">Received Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="period in vm.periods">
                <td> </td>
                <td>{{period.startDate | openlmisDate}}</td>
                <td>{{period.endDate | openlmisDate}}</td>
                <td>{{period.rnrStatus | requisitionStatus}}</td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</section>
<!--
<form ng-submit="vm.search()" openlmis-table-filter>
    <fieldset class="form-group">
        <label for="searchFor">{{'pointOfDelivery.facility' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        
        <label for="searchFor">{{'pointOfDelivery.referenceNo' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        
        <label for="searchFor">{{'pointOfDelivery.packingDate' | message}}</label>
        <input id="receivedDate" type="date" ng-model="vm.proofOfDelivery.receivedDate" required/>
        
        <label for="searchFor">{{'pointOfDelivery.packedBy' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        
        <label for="searchFor">{{'pointOfDelivery.numberOfCartons' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        
        <label for="searchFor">{{'pointOfDelivery.numberOfContainers' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        
        <label for="searchFor">{{'pointOfDelivery.receivedBy' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        
        <label for="searchFor">{{'pointOfDelivery.receivedDate' | message}}</label>
        <input id="receivedDate" type="date" ng-model="vm.proofOfDelivery.receivedDate" required/>
        
        <input type="submit" value="{{'pointOfDelivery.submit' | message}}"/>
    </fieldset>
</form>  -->

