<h2>{{ 'redistributionCreate.title' | message }}</h2>

<div ng-if="vm.error" class="alert is-error" ng-show="vm.error">{{vm.error}}</div>
<form class="sidebar" ng-submit="vm.loadPeriods()">
    <openlmis-facility-program-select
        is-supervised="vm.isSupervised"
        facility="vm.facility"
        program="vm.program"
        module="'requisition-initiate'">
    </openlmis-facility-program-select>
    <fieldset class="form-group">
        <legend>{{'requisitionInitiate.type' | message}}</legend>
        <label class="radio">
            <input type="radio" ng-model="vm.emergency" ng-value="false"/>
            {{'requisitionInitiate.regular' | message}}
        </label>
        <label class="radio">
            <input type="radio" ng-model="vm.emergency" ng-value="true"/>
            {{'requisitionInitiate.emergency' | message}}
        </label>
    </fieldset>
    <input type="submit" value="{{'requisitionInitiate.search'|message}}"/>
</form>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.periods.length">
            Redistribution Request details
        </caption>
        <thead>
            <tr>
                <th>{{'redistributionCreate.voucherNumber' | message}}</th>
                <th>{{'redistributionCreate.requestDate' | message}}</th>
                <th>{{'redistributionCreate.productName' | message}}</th>
                <th>{{'redistributionCreate.productCode' | message}}</th>
				<th>{{'redistributionCreate.quantityRequested' | message}}</th>
				<th>{{'redistributionCreate.quantityExplanation' | message}}</th>
                <th class="col-sticky sticky-right">{{'requisitionInitiate.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="period in vm.periods">
                <td> </td>
                <td>{{period.startDate | openlmisDate}}</td>
                <td>{{period.endDate | openlmisDate}}</td>
                <td>{{period.rnrStatus | requisitionStatus}}</td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</section>
